---
bodyclass: blog-page
title: Blog page
---

<section class="section-trending trending-with-tabs">
    <div class="services">
      <div class="inner">
        <div class="wrap">
          <ul class="nav">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
          <div class="content">
              <div class="col">
                <h1 class="title">Trending 1</h1>
                <div class="img">
                  <img src="{{root}}images/trending-img1.png" alt="">
                </div>
                <div class="aligncenter">
                  <p class="date">July 6, 2021</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
              <div class="col">
                <ul class="news">
                  <li>
                    <a href="{{root}}blog-detail.html" class="text">
                      <p class="date">July 6, 2021</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </a>
                  </li>
                  <li>
                    <a href="{{root}}blog-detail.html" class="text">
                      <p class="date">July 6, 2021</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </a>
                  </li>
                  <li>
                    <a href="{{root}}blog-detail.html" class="text">
                      <p class="date">July 6, 2021</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="section-tips-for">
    <div class="inner">
        <p>TIPS FOR</p>
        <div class="row">
            <h2 class="title">Lorem ipsum</h2>
            <div class="link">
                <a href="#">View all</a>
            </div>
        </div>
        <div class="lists">
          <div class="list">
            <a href="#" class="item">
                <div class="image">
                    <img src="{{root}}images/blog-page-item1.png" alt="" />
                </div>
                <div class="text">
                    <p class="date">July 6, 2021</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </a>
            <a href="#" class="item">
                <div class="image">
                    <img src="{{root}}images/blog-page-item2.png" alt="" />
                </div>
                <div class="text">
                    <p class="date">July 12, 2021</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </a>
            <a href="#" class="item">
              <div class="image">
                  <img src="{{root}}images/blog-page-item3.png" alt="" />
              </div>
              <div class="text">
                  <p class="date">July 28, 2021</p>
                  <p>Lorem ipsum dolor sit adipiscing elit.</p>
              </div>
            </a>
          </div>  
        </div>  
    </div>   
</section>

<section class="section-prefooter blog-prefooter">
  <p class="author"> Coco Chanel </p>
  <h2 class="quote"> The best color in the whole world is the one that looks good on you. </h2>
  <div class="text">
    <p>Specializing in lived-in color and known for providing his clients with classic Californian blonde and sought-after natural and sun-kissed color, Chance Charles travels coast to coast to work with clients in Frisco, Texas, and Los Angeles.</p>
    <div class="license">
      <p>Chance Charles is licensed in California and Texas.</p>
    </div>
  </div>
  <ul class="soc-links">
    <li class="insta"> <a href="#"><img src="{{root}}images/soc-insta.png" alt="Instagram" /></a> </li>
    <li class="linkedin"> <a href="#"><img src="{{root}}images/soc-linkedin.png" alt="LinkedIn" /></a> </li>
  </ul>
</section>