---
bodyclass: blog-detail-page
title: Blog Detail page
---

<section class="section-trending">
    <div class="services">
      <div class="inner">
        <div class="wrap">
          <ul class="nav">
            <li><a href="{{root}}blog-page.html">Lorem ipsum</a></li>
            <li><a href="{{root}}blog-page.html">Lorem ipsum</a></li>
            <li><a href="{{root}}blog-page.html">Lorem ipsum</a></li>
            <li><a href="{{root}}blog-page.html">Lorem ipsum</a></li>
            <li><a href="{{root}}blog-page.html">Lorem ipsum</a></li>
            <li><a href="{{root}}blog-page.html">Lorem ipsum</a></li>
            <li><a href="{{root}}blog-page.html">Lorem ipsum</a></li>
          </ul>
        </div>
      </div>
</section>

<section class="section-blog-detail">
    <div class="inner">
        <p class="date">July 12, 2021</p>
        <h1 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        <div class="img">
            <img src="{{root}}images/detail-blog-img1.png" alt="">
        </div>
    </div>
</section>

<section class="section-blog-detail-description">
    <div class="inner">
        <h2 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi.<b> Pharetra sed porttitor mi sit nulla a, iaculis. Sollicitudin eu arcu est, cursus integer dignissim leo egestas sit. Venenatis vitae laoreet dictum placerat.</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi. Pharetra sed porttitor mi sit nulla a, iaculis. Sollicitudin eu arcu est, cursus integer dignissim leo egestas sit. Venenatis vitae laoreet dictum placerat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi. Pharetra sed porttitor mi sit nulla a, iaculis. Sollicitudin eu arcu est, cursus integer dignissim leo egestas sit. Venenatis vitae laoreet dictum placerat.</p>
        </div>
    </div>
</section>

<section class="section-blog-detail-row">
    <div class="inner">
        <div class="col">
            <h3 class="title">1.Lorem ipsum</h3>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi.<b> Pharetra sed porttitor mi sit nulla a, iaculis. Sollicitudin eu arcu est, cursus integer dignissim leo egestas sit. Venenatis vitae laoreet dictum placerat.</p></b>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi. Pharetra sed porttitor mi sit nulla a, iaculis. Sollicitudin eu arcu est, cursus integer dignissim leo egestas sit.</p>
                <p>Venenatis vitae laoreet dictum placerat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi. Pharetra sed porttitor mi sit nulla a, iaculis. Sollicitudin eu arcu est, cursus integer dignissim leo egestas sit. Venenatis vitae laoreet dictum placerat.</p>
            </div>
        </div>
        <div class="col">
            <div class="img">
                <img src="{{root}}images/detail-blog-img2.png" alt="">
            </div>
        </div>
    </div>
</section>

 <section class="section-blog-detail-row second-row">
    <div class="inner">
        <div class="col">
            <div class="img">
                <img src="{{root}}images/detail-blog-img3.png" alt="">
            </div>
        </div>
        <div class="col">
            <h3 class="title">2.Lorem ipsum</h3>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi.<b> Pharetra sed porttitor mi sit nulla a, iaculis. Sollicitudin eu arcu est, cursus integer dignissim leo egestas sit. Venenatis vitae laoreet dictum placerat.</p></b>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi.</p>
                <p>Venenatis vitae laoreet dictum placerat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi. Pharetra sed porttitor mi sit nulla a, iaculis. Sollicitudin eu arcu est, cursus integer dignissim leo egestas sit. Venenatis vitae laoreet dictum placerat.</p>
            </div>
        </div>
    </div>
</section>

<section class="section-blog-detail-prefooter">
    <div class="inner">
        <h2 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi.<b> Pharetra sed porttitor mi sit nulla a, iaculis. Sollicitudin eu arcu est, cursus integer dignissim leo egestas sit. Venenatis vitae laoreet dictum placerat.</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi. Pharetra sed porttitor mi sit nulla a, iaculis. Sollicitudin eu arcu est, cursus integer dignissim leo egestas sit. Venenatis vitae laoreet dictum placerat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue viverra nec felis consectetur etiam felis convallis nunc, mi. Pharetra sed porttitor mi sit nulla a, iaculis. Sollicitudin eu arcu est, cursus integer dignissim leo egestas sit. Venenatis vitae laoreet dictum placerat.</p>
        </div>
        <div class="share-on">
            <h4>Share on:</h4>
            <ul class="soc-links">
                <li class="facebook"> <a href="#"><img src="{{root}}images/soc-facebook.png" alt="Facebook" /></a> </li>
                <li class="insta"> <a href="#"><img src="{{root}}images/soc-insta.png" alt="Instagram" /></a> </li>
                <li class="twitter"> <a href="#"><img src="{{root}}images/soc-twitter.png" alt="Twitter" /></a> </li>
            </ul>
        </div>
    </div>
</section>

<section class="section-blog-detail-news">
    <div class="inner">
        <div class="lists">
            <div class="list">
                <a href="#" class="item">
                    <div class="image">
                        <img src="{{root}}images/detail-blog-item1.png" alt="" />
                    </div>
                    <div class="text">
                        <p class="date">July 6, 2021</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="image">
                        <img src="{{root}}images/detail-blog-item2.png" alt="" />
                    </div>
                    <div class="text">
                        <p class="date">July 12, 2021</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="image">
                        <img src="{{root}}images/detail-blog-item3.png" alt="" />
                    </div>
                    <div class="text">
                        <p class="date">July 28, 2021</p>
                        <p>Lorem ipsum dolor sit adipiscing elit.</p>
                    </div>
                </a>
            </div>  
        </div>
    </div>  
</section>