---
bodyclass: home-page
title: Home page
---

<section class="section-banner">
  <h1 class="title"> Treat Yourself to a Great Experience </h1>
  <h2> Helping you look and feel ravishing for that special occasion you have lined up </h2>
  <div class="quote">
    <div class="text">
      <p> "A woman who cuts her hair is about to change her life." </p>
    </div>
    <div class="author">
      <p> Coco Chanel </p>
    </div>
  </div>
</section>

<div class="section-diplomas">
  <div class="diplomas">
    <div class="diplom">
      <img data-full src="{{root}}images/diplom-1.png" alt="" />
    </div>
    <div class="diplom">
      <img data-full src="{{root}}images/diplom-2.png" alt="" />
    </div>
    <div class="diplom">
      <img data-full src="{{root}}images/diplom-3.png" alt="" />
    </div>
    <div class="diplom">
      <img data-full src="{{root}}images/diplom-4.png" alt="" />
    </div>
    <div class="diplom">
      <img data-full src="{{root}}images/diplom-5.png" alt="" />
    </div>
    <div class="diplom">
      <img data-full src="{{root}}images/diplom-6.png" alt="" />
    </div>
  </div>
  <div class="popup">
    <img src="{{root}}images/diplom-1.png" alt="" />
  </div>
</div>

<section class="section-contact">
  <h2 class="title"> Chance Charles </h2>
  <div class="text">
    <p> As a beloved, professional Salon since 2000, Chance Charles Salon has everything to keep you looking and feeling ravishing for that special occasion you have lined up. <b>Our goal is to make sure<br> you get VIP treatment so you walk out as the best version of yourself.</b> </p>
  </div>
  <div class="link">
    <a href="#"> Contact us today and treat yourself <br>to any one of our pampering services! </a>
  </div>
</section>

<section class="section-services">
  <h2 class="title"> Salon Services </h2>
  <ul class="images">
    <li><img src="{{root}}images/services-img-1.png" alt="" /></li>
    <li><img src="{{root}}images/services-img-2.png" alt="" /></li>
    <li><img src="{{root}}images/services-img-3.png" alt="" /></li>
    <li><img src="{{root}}images/services-img-4.png" alt="" /></li>
  </ul>
  <div class="btn-holder">
    <div class="btn"><a href="#"> Book an Appointment </a></div>
  </div>
</section>

<section class="section-partners">
  <h2 class="title"> The finest in hair care products </h2>
  <ul class="images">
    <li><img src="{{root}}images/partner-1.png" alt="" /></li>
    <li><img src="{{root}}images/partner-2.png" alt="" /></li>
  </ul>
</section>

<section class="section-history">
  <div class="inner">
    <div class="col">
      <h2 class="title">Lorem ipsum dolor sit amet</h2>
      <div class="text">
        <p>Chance Charles has <b>21 years of experience</b> as a cutting<br> specialist. He graduated from Vidal Sassoon, Santa Monica, CA.<br> He specializes in dry cutting, razor cutting, and precision shaping.</p>
        <p>Charles began his career with Jacques Dessange, Paris, where he served as an apprentice. After that he continue his career by working with celebrity stylist Jose Eber where he learned Eber’s art of consultation.</p>
        <p>Soon Chance’s talents led him to work as the creative director for one of Aveda’s top salons. During this time, he was able to work for New York Fashion Week with designers such as <b>Zac Posen, Michael Kors, and Proenza Schoulder.</b></p>
        <p>Chance’s looks are best described as elegant, simplistic and modern.</p>
        <p><b>He proudly provides his guests with precision haircutting, styling, detailed highlighting, and personalized service, whose goal is to exceed expectations.</b></p>
        <p>Salon Chance Charles attracts upscale professionals who know what they want and expect perfection.</p>
      </div>
    </div>
    <div class="col">
      <h2 class="vertical-title">Since 1999</h2>
      <img src="{{root}}images/section-history.png" alt="" />
    </div>
  </div>
</section>

<section class="section-testimonials">
  <h2 class="title"> Testimonials </h2>
  <ul class="images">
    <li><img src="{{root}}images/testimonials-img-1.png" alt="" /></li>
    <li><img src="{{root}}images/testimonials-img-2.png" alt="" /></li>
    <li><img src="{{root}}images/testimonials-img-3.png" alt="" /></li>
    <li><img src="{{root}}images/testimonials-img-4.png" alt="" /></li>
    <li><img src="{{root}}images/testimonials-img-5.png" alt="" /></li>
  </ul>
  <div class="slider">
    <div class="review">
      <h5 class="name"> J Alexander </h5>
      <p> Chance Charles took the time to ask questions and figure out exactly what I wanted. He clearly has the passion and skill, I’ve never been so happy with the results. My cut and style look great, I will definitely be coming back! </p>
    </div>
    <div class="review">
      <h5 class="name"> Karola Sajuns </h5>
      <p> He does amazing work. I left looking 10 years younger. </p>
    </div>
    <div class="review">
      <h5 class="name"> J Alexander </h5>
      <p> Chance Charles took the time to ask questions and figure out exactly what I wanted. He clearly has the passion and skill, I’ve never been so happy with the results. My cut and style look great, I will definitely be coming back! </p>
    </div>
    <div class="review">
      <h5 class="name"> Karola Sajuns </h5>
      <p> He does amazing work. I left looking 10 years younger. </p>
    </div>
  </div>
</section>

<section class="section-prefooter">
  <p class="author"> Coco Chanel </p>
  <h2 class="quote"> The best color in the whole world is the one that looks good on you. </h2>
  <div class="text">
    <p>Specializing in lived-in color and known for providing his clients with classic Californian blonde and sought-after natural and sun-kissed color, Chance Charles travels coast to coast to work with clients in Frisco, Texas, and Los Angeles.</p>
    <div class="license">
      <p>Chance Charles is licensed in California and Texas.</p>
    </div>
  </div>
  <ul class="soc-links">
    <li class="insta"> <a href="#"><img src="{{root}}images/soc-insta.png" alt="Instagram" /></a> </li>
    <li class="linkedin"> <a href="#"><img src="{{root}}images/soc-linkedin.png" alt="LinkedIn" /></a> </li>
  </ul>
</section>