---
bodyclass:
title: Search result page
---

<section class="content-bg no-bg">
  <div class="inner">
    <h1 class="big-title">
      <span class="title__prefix">Search Results for: </span>
      <span class="title__query">about</span>
    </h1>
    <ul class="blog-archive-list">
      <li>
        <div class="blog-item-pic">
          <img src="{{root}}images/blog-1.jpg" alt="North Texas Tollway Land Annexation">
        </div>
        <div class="blog-item-description">
          <h3 class="blog-item-title">North Texas Tollway Land Annexation</h3>
          <div class="blog-item-text">
            <p>EXCEL negotiated a $200,000+ agreement with the North Texas Toll Authority for an Association in Rowlett, TX to compensate for land annexed, easements, property damage, and construction. Tasks included negotiation, valuation, obtaining project bids, coordination of vendors, utility marking, and homeowner communication.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="blog-item-pic">
          <img src="{{root}}images/blog-2.jpg" alt="Screening Wall Replacement">
        </div>
        <div class="blog-item-description">
          <h3 class="blog-item-title">Screening Wall Replacement</h3>
          <div class="blog-item-text">
            <p>EXCEL obtained competitive bids, arranged for a loan, and oversaw the demolition and construction of a screening wall in Carrollton, TX. Total project totaled over $400,000. EXCEL coordinated vendors, homeowners, and municipal authorities.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="blog-item-pic">
          <img src="{{root}}images/blog-3.jpg" alt="Condominium Structural Rehab & Paint">
        </div>
        <div class="blog-item-description">
          <h3 class="blog-item-title">Condominium Structural Rehab & Paint</h3>
          <div class="blog-item-text">
            <p>EXCEL oversaw a $300,000+ structural rehabilitation and paint project for a condominium located in the Cedar Springs area of Dallas. Project consisted of building leak repair, stucco repair, structural repair, and full exterior paint. EXCEL coordinated bidding, funding, and construction.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="blog-item-pic">
          <img src="{{root}}images/blog-4.jpg" alt="Condominium Structural Repair & Siding">
        </div>
        <div class="blog-item-description">
          <h3 class="blog-item-title">Condominium Structural Rehab & Paint</h3>
          <div class="blog-item-text">
            <p>EXCEL oversaw a $100,000+ structural repair and siding project for a condominium community in North Dallas. Project details include siding removal and replacement, structural repairs, and painting. EXCEL also consulted on funding, bidding, and scope of work.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="blog-item-pic">
          <img src="{{root}}images/blog-5.jpg" alt="Mechanical Room Rehabilitation">
        </div>
        <div class="blog-item-description">
          <h3 class="blog-item-title">Mechanical Room Rehabilitation</h3>
          <div class="blog-item-text">
            <p>EXCEL oversaw a $86,000 central mechanical room rehabilitation for a condominium community located in Dallas. Scope of work included repair and/or replacement of central HVAC, Boiler, and Chiller Tower. EXCEL coordinating the bidding process and work oversight.</p>
          </div>
        </div>
      </li>
    </ul>
    {{> pagination}}
    <div class="new-search">
      <h2>New Search</h2>
      {{> search-form}}
    </div>
  </div>
</section>
