---
bodyclass: services-page
title: Services page
---

<section class="section-services-page">
    <div class="inner">
        <div class="info">
            <h1 class="title">Lorem ipsum dolor sit amet</h1>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sit imperdiet condimentum. Ntulla amet ut tortor velit. Sapien tempus elementum praesent tempor vel, in. Amet suspendisse arcu id eu gravida.</p>
                <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at sit imperdiet condimentum. Nulla amet ut tortor velit.</b> Sapien tempus selementum praesent tempor vel, in.</p>
            </div>
        </div>
        <ul class="cards">
            <li class="card">
              <div class="card-holder">
                <div class="front">
                  <img src="{{root}}images/services-page-img1.png" alt="" />
                </div>
                <div class="back">
                  <h5 class="card-title">Hair</h5>
                  <ul class="options">
                    <li>
                      <span>Haircut</span>
                      <span>$175 - $375</span>
                    </li>
                    <li>
                      <span>Blow-Dry</span>
                      <span>$75 - $95</span>
                    </li>
                    <li>
                      <span>Updo’s</span>
                      <span>$125 and up</span>
                    </li>
                    <li>
                      <span>Weddings and<br>Special Occasions</span>
                      <span>$125 and up</span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-holder">
                <div class="front">
                  <img src="{{root}}images/services-page-img2.png" alt="" />
                </div>
                <div class="back">
                  <h5 class="card-title">Hair Color</h5>
                  <ul class="options">
                    <li>
                      <span>Base Color</span>
                      <span>$100 - $175</span>
                    </li>
                    <li>
                      <span>Highlights/Balayage</span>
                      <span>$100 - $300</span>
                    </li>
                    <li>
                      <span>Balayage Gloss</span>
                      <span>$65 - $75</span>
                    </li>
                    <li>
                      <span>Color Correction</span>
                      <span class="alignright">Priced on an<br>individual basis</span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-holder">
                <div class="front">
                  <img src="{{root}}images/services-page-img3.png" alt="" />
                </div>
                <div class="back">
                  <h5 class="card-title">Hair Treatments</h5>
                  <ul class="options">
                    <li>
                      <span>Olaplex</span>
                      <span>$85</span>
                    </li>
                    <li>
                      <span>3 Step Conditioning<br>Treatment</span>
                      <span>$85</span>
                    </li>
                    <li>
                      <span>Brazilian Blow Out</span>
                      <span>$350 - $400</span>
                    </li>
                    <li>
                      <span>Keratin Straightening<br>Treatment</span>
                      <span>$350 - $400</span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
        </ul>
        <div class="btn-holder">
            <div class="btn">
                <a href="#">Book an Appointment</a>
            </div>
        </div>
    </div>
</section>

<section class="section-prefooter services-prefooter">
  <p class="author"> Coco Chanel </p>
  <h2 class="quote"> The best color in the whole world is the one that looks good on you. </h2>
  <div class="text">
    <p>Specializing in lived-in color and known for providing his clients with classic Californian blonde and sought-after natural and sun-kissed color, Chance Charles travels coast to coast to work with clients in Frisco, Texas, and Los Angeles.</p>
    <div class="license">
      <p>Chance Charles is licensed in California and Texas.</p>
    </div>
  </div>
  <ul class="soc-links">
    <li class="insta"> <a href="#"><img src="{{root}}images/soc-insta.png" alt="Instagram" /></a> </li>
    <li class="linkedin"> <a href="#"><img src="{{root}}images/soc-linkedin.png" alt="LinkedIn" /></a> </li>
  </ul>
</section>