{{!-- Footer section block --}}
<footer class="footer">
    <div class="top">
        <div class="inner">
            <div class="logo">
                <img src="{{root}}images/logo-white.png" alt="">
            </div>
            <nav class="footer-nav-container">
                <ul class="footer-nav">
                    <li> <a href="{{root}}services.html"> Services </a></li>
                    <li> <a href="{{root}}about.html"> About </a> </li>
                    <li> <a href="#"> Meet the Team </a> </li>
                    <li> <a href="{{root}}blog-page.html"> Blog </a></li>
                    <li> <a href="{{root}}contact.html"> Contact </a></li>
                </ul>
            </nav>
            <div class="btn"> <a href="#"> Book an Appointment </a> </div>
        </div>
        <div class="inner">
            <div class="col">
                <span class="title">HOURS OF OPERATION</span>
                <p><b>Tuesday - Saturday:</b> 7:00 am - 9:00 pm</p>
                <p><b>Sunday - Monday:</b> closed.</p>
                <div class="email">
                    <a href="mailto:overtime214@gmail.com">overtime214@gmail.com</a>
                </div>
                <ul class="links-nav">
                    <li> <a href="{{root}}terms-and-conditions.html">Terms of Use</a> </li>
                    <li> <a href="{{root}}privacy-policy.html">Privacy Policy</a> </li>
                </ul>
            </div>
            <div class="col">
                <span class="title">CONTACT US</span>
                <div class="phone">
                    <a href="tel:972-439-4472">972-439-4472</a>
                </div>
                <p>8837 Lebanon Rd., #500, Frisco, TX 75034</p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="inner">
            <p> © Chance Charles Salon 2021. All rights reserved. </p>
            <p> Dallas WordPress Development: <a href="#"> Web Loft Designs </a> </p>
        </div>
    </div>
</footer>