{{!-- Header section block --}}
<header class="header">
  <div id="sticky-header" class="unfixed">
    <div class="inner">
      <button class="menu-toggle" id="open-button">Menu</button>
      <div class="logo">
        {{#ifpage 'index'}}
        <img src="{{root}}images/logo.png" alt="">
        {{/ifpage}}
        {{#unlesspage 'index'}}
        <a href="{{root}}/"><img src="{{root}}images/logo.png" alt=""></a>
        {{/unlesspage}}
      </div>
      <nav class="main-nav-container">
        <ul class="main-nav header-nav">
          <li> <a href="{{root}}services.html"> Services </a></li>
          <li> <a href="{{root}}about.html"> About </a> </li>
          <li> <a href="#"> Meet the Team </a> </li>
          <li> <a href="{{root}}blog-page.html"> Blog </a></li>
          <li> <a href="{{root}}contact.html"> Contact </a></li>
        </ul>
      </nav>
      <ul class="second-nav">
        <li class="phone-link"> <a href="tel:818-738-5122"> 818-738-5122 </a></li>
        <li class="btn default"> 
          <a href="#"> Book an Appointment </a>
        </li>
        <li class="btn mobile"> 
          <a href="#"> Book </a>
        </li>
      </ul>
    </div>
  </div>
</header>